**Etapa 1.1: Carregamento dos Dados.**

In [1]:
import pandas as pd
import os
import glob
from IPython.display import display

# --- Configurações ---
# Caminho para os dados brutos
RAW_DATA_PATH = '../data/raw/'
# Define o tamanho do lote (chunk). 100,000 linhas é um bom começo.
# Isso significa que vamos ler os arquivos de 100.000 em 100.000 linhas.
CHUNKSIZE = 100_000

def inspect_large_csv(file_path, chunksize):
    """
    Função para inspecionar um CSV grande de forma eficiente em memória,
    lendo o arquivo em pedaços (chunks).
    """
    file_name = os.path.basename(file_path)
    print("=" * 80)
    print(f"INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: {file_name}")
    print("=" * 80)

    try:
        # Criamos um "iterador" que lê o arquivo em pedaços, em vez de tudo de uma vez.
        # A memória só alocará espaço para 'chunksize' linhas de cada vez.
        iterator = pd.read_csv(file_path, sep=';', encoding='latin1',
                               chunksize=chunksize, low_memory=False, on_bad_lines='warn')

        # Pegamos apenas o PRIMEIRO chunk para fazer a inspeção inicial da estrutura.
        # Isso nos dá uma excelente ideia do arquivo sem precisar ler tudo.
        first_chunk = next(iterator)

        # --- Verificação da estrutura (baseada no primeiro chunk) ---
        print(f"\n[INFO] O arquivo será processado em chunks de {chunksize} linhas.")
        print(f"[INFO] Estrutura do primeiro chunk (Linhas, Colunas): {first_chunk.shape}")

        # --- Tipos de dados e contagem de nulos (baseado no primeiro chunk) ---
        print("\n[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):")
        first_chunk.info()

        # --- Amostra dos Dados ---
        print("\n[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):")
        display(first_chunk.head())

    except (UnicodeDecodeError, ValueError):
        # Se a primeira tentativa falhar, tentamos com outra codificação
        print(f"AVISO: Leitura com 'latin1' e ';' falhou. Tentando com 'utf-8' e ','.")
        try:
            iterator = pd.read_csv(file_path, sep=',', encoding='utf-8',
                                   chunksize=chunksize, low_memory=False, on_bad_lines='warn')
            first_chunk = next(iterator)

            print(f"\n[INFO] O arquivo será processado em chunks de {chunksize} linhas.")
            print(f"[INFO] Estrutura do primeiro chunk (Linhas, Colunas): {first_chunk.shape}")
            print("\n[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):")
            first_chunk.info()
            print("\n[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):")
            display(first_chunk.head())

        except Exception as final_e:
            print(f"ERRO: Não foi possível ler o arquivo {file_name}. Erro final: {final_e}\n")
    except StopIteration:
        # Isso acontece se o arquivo estiver vazio
        print(f"AVISO: O arquivo {file_name} parece estar vazio ou não pôde ser lido.")
    except Exception as e:
        print(f"ERRO: Ocorreu um erro inesperado ao processar {file_name}: {e}")

    print("\n" * 2)

# --- Ponto de Entrada do Script ---
csv_files = glob.glob(os.path.join(RAW_DATA_PATH, '*.csv'))
print(f"Encontrados {len(csv_files)} arquivos CSV para inspeção eficiente.\n")

for file in sorted(csv_files):
    inspect_large_csv(file, CHUNKSIZE)

print("=" * 80)
print("INSPEÇÃO EFICIENTE EM MEMÓRIA CONCLUÍDA")
print("=" * 80)

Encontrados 25 arquivos CSV para inspeção eficiente.

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: agrofitprodutosformulados.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (100000, 15)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   NR_REGISTRO            100000 non-null  int64
 1   MARCA_COMERCIAL        100000 non-null  object
 2   FORMULACAO             99996 non-null   object
 3   INGREDIENTE_ATIVO      99997 non-null   object
 4   TITULAR_DE_REGISTRO    100000 non-null  object
 5   CLASSE                 100000 non-null  object
 6   MODO_DE_ACAO           62410 non-null   object
 7   CULTURA                99988 non-null   object
 8   PRAGA_NOME_CIENTIFICO  99758 non-null   object
 9   PRAGA_NOME_COMUM       99185 non-null   object
 10  EMPRESA_PAIS_TIPO      99950 non-null   object
 11  CLASSE_TOXICOLOGICA    100000 non-null  object
 12  CLASSE_AMBIENTAL       100000 non-null  object
 13  ORGANICOS              100000 non-null  object
 14  SITUACAO               100000 non-null  bool
dtypes: bool(1), int64(1), object(13)
memory usage: 10.8+ MB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,NR_REGISTRO,MARCA_COMERCIAL,FORMULACAO,INGREDIENTE_ATIVO,TITULAR_DE_REGISTRO,CLASSE,MODO_DE_ACAO,CULTURA,PRAGA_NOME_CIENTIFICO,PRAGA_NOME_COMUM,EMPRESA_PAIS_TIPO,CLASSE_TOXICOLOGICA,CLASSE_AMBIENTAL,ORGANICOS,SITUACAO
0,35523,KBR-829M1-02,NematÃ³ides vivos,Heterorhabditis bacteriophora (NematÃ³ides ent...,Koppert do Brasil Holding S.A. - Piracicaba/SP,Agente BiolÃ³gico de Controle,NaN,Todas as culturas,Scaptocoris castanea,Percevejo-castanho,(Koppert do Brasil Holding S.A. - Piracicaba/...,NÃ£o Classificado - Produto NÃ£o Classificado,Produto Pouco Perigoso ao Meio Ambiente,NAO,True
1,35523,KBR-829M1-02,NematÃ³ides vivos,Heterorhabditis bacteriophora (NematÃ³ides ent...,Koppert do Brasil Holding S.A. - Piracicaba/SP,Agente BiolÃ³gico de Controle,NaN,Todas as culturas,Sphenophorus levis,Bicudo da cana-de-aÃ§Ãºcar; Gorgulho-da-cana,(Koppert do Brasil Holding S.A. - Piracicaba/...,NÃ£o Classificado - Produto NÃ£o Classificado,Produto Pouco Perigoso ao Meio Ambiente,NAO,True
2,35523,KBR-829M1-02,NematÃ³ides vivos,Heterorhabditis bacteriophora (NematÃ³ides ent...,Koppert do Brasil Holding S.A. - Piracicaba/SP,Agente BiolÃ³gico de Controle,NaN,Todas as culturas,Spodoptera frugiperda,Lagarta-militar,(Koppert do Brasil Holding S.A. - Piracicaba/...,NÃ£o Classificado - Produto NÃ£o Classificado,Produto Pouco Perigoso ao Meio Ambiente,NAO,True
3,33723,KBR-S39M1-02,NematÃ³ides vivos,Steinernema carpocapsae (NematÃ³ides entomopat...,Koppert do Brasil Holding S.A. - Piracicaba/SP,Agente BiolÃ³gico de Controle,NaN,Todas as culturas,Bradysia matogrossensis,fungus gnats,(Koppert do Brasil Holding S.A. - Piracicaba/...,NÃ£o Classificado - Produto NÃ£o Classificado,Produto Pouco Perigoso ao Meio Ambiente,NAO,True
4,33723,KBR-S39M1-02,NematÃ³ides vivos,Steinernema carpocapsae (NematÃ³ides entomopat...,Koppert do Brasil Holding S.A. - Piracicaba/SP,Agente BiolÃ³gico de Controle,NaN,Todas as culturas,Sphenophorus levis,Bicudo da cana-de-aÃ§Ãºcar; Gorgulho-da-cana,(Koppert do Brasil Holding S.A. - Piracicaba/...,NÃ£o Classificado - Produto NÃ£o Classificado,Produto Pouco Perigoso ao Meio Ambiente,NAO,True

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: agrofitprodutostecnicos.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (2685, 8)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2685 entries, 0 to 2684
Data columns (total 8 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   NUMERO_REGISTRO                                 2685 non-null   object
 1   PRODUTO_TECNICO_MARCA_COMERCIAL                 2685 non-null   object
 2   INGREDIENTE_ATIVO(GRUPO_QUIMICI)(CONCENTRACAO)  2685 non-null   object
 3   CLASSE                                          2685 non-null   object
 4   TITULAR_REGISTRO                                2685 non-null   object
 5   EMPRESA_<PAIS>_TIPO                             2460 non-null   object
 6   CLASSIFICACAO_TOXICOLOGICA                      2685 non-null   object
 7   CLASSIFICACAO_AMBIENTAL                         2685 non-null   object
dtypes: object(8)
memory usage: 167.9+ KB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,NUMERO_REGISTRO,PRODUTO_TECNICO_MARCA_COMERCIAL,INGREDIENTE_ATIVO(GRUPO_QUIMICI)(CONCENTRACAO),CLASSE,TITULAR_REGISTRO,EMPRESA_<PAIS>_TIPO,CLASSIFICACAO_TOXICOLOGICA,CLASSIFICACAO_AMBIENTAL
0,4215,"2,4 D TÃ©cnico Mol","2,4-D (Ã¡cido ariloxialcanÃ³ico) (973 g/kg)",Herbicida,Meghmani Organics Biodefensivos e AgrÃ­colas d...,NaN,I,III
1,10116,"2,4-D Acid Tecnico","2,4-D (Ã¡cido ariloxialcanÃ³ico) (980 g/kg)",Herbicida,Sharda do Brasil ComÃ©rcio de Produtos QuÃ­mic...,(Swati Chemical Industries - Baroda<ÃNDIA>FA...,I,III
2,TC07521,"2,4-D Acid TÃ©cnico Agrolead","2,4-D (Ã¡cido ariloxialcanÃ³ico) (980 g/kg)",Herbicida,Agro-Lead Brasil Assessoria em Produtos AgrÃ­c...,"(Shandong Keyuan Chemical Co. Ltd.<CHINA, REP...",PT,III
3,16012,"2,4-D Acido Tecnico Milenia Br","2,4-D (Ã¡cido ariloxialcanÃ³ico) (970 g/kg)",Herbicida,Adama Brasil S.A.- Londrina/PR,NaN,I,III
4,TC07421,"2,4-D GLB TÃ©cnico","2,4-D (Ã¡cido ariloxialcanÃ³ico) (980 g/kg)",Herbicida,Globachem ProteÃ§Ã£o de Cultivos do Brasil Ltd...,"(Shandong Keyuan Chemical Co. Ltd.<CHINA, REP...",PT,III

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: dados-abertos-tabua-de-risco.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (100000, 54)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 54 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ï»¿Nome_cultura      100000 non-null  object
 1   SafraIni             100000 non-null  int64
 2   SafraFin             100000 non-null  int64
 3   Cod_Cultura          100000 non-null  int64
 4   Cod_Ciclo            100000 non-null  int64
 5   Cod_Solo             100000 non-null  int64
 6   geocodigo            100000 non-null  int64
 7   UF                   100000 non-null  object
 8   municipio            100000 non-null  object
 9   Cod_Clima            0 non-null       float64
 10  Nome_Clima           0 non-null       float64
 11  Cod_Outros_Manejos   0 non-null       float64
 12  Nome_Outros_Manejos  0 non-null       float64
 13  Produtividade        0 non-null       float64
 14  Cod_Munic            100000 non-null  int64
 15  Cod_Meso             100000 non-null  int64
 16  Cod_Micro            100000 non-null  int64
 17  Portaria             100000 non-null  object
 18  dec1                 100000 non-null  int64
 19  dec2                 100000 non-null  int64
 20  dec3                 100000 non-null  int64
 21  dec4                 100000 non-null  int64
 22  dec5                 100000 non-null  int64
 23  dec6                 100000 non-null  int64
 24  dec7                 100000 non-null  int64
 25  dec8                 100000 non-null  int64
 26  dec9                 100000 non-null  int64
 27  dec10                100000 non-null  int64
 28  dec11                100000 non-null  int64
 29  dec12                100000 non-null  int64
 30  dec13                100000 non-null  int64
 31  dec14                100000 non-null  int64
 32  dec15                100000 non-null  int64
 33  dec16                100000 non-null  int64
 34  dec17                100000 non-null  int64
 35  dec18                100000 non-null  int64
 36  dec19                100000 non-null  int64
 37  dec20                100000 non-null  int64
 38  dec21                100000 non-null  int64
 39  dec22                100000 non-null  int64
 40  dec23                100000 non-null  int64
 41  dec24                100000 non-null  int64
 42  dec25                100000 non-null  int64
 43  dec26                100000 non-null  int64
 44  dec27                100000 non-null  int64
 45  dec28                100000 non-null  int64
 46  dec29                100000 non-null  int64
 47  dec30                100000 non-null  int64
 48  dec31                100000 non-null  int64
 49  dec32                100000 non-null  int64
 50  dec33                100000 non-null  int64
 51  dec34                100000 non-null  int64
 52  dec35                100000 non-null  int64
 53  dec36                100000 non-null  int64
dtypes: float64(5), int64(45), object(4)
memory usage: 41.2+ MB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,ï»¿Nome_cultura,SafraIni,SafraFin,Cod_Cultura,Cod_Ciclo,Cod_Solo,geocodigo,UF,municipio,Cod_Clima,...,dec27,dec28,dec29,dec30,dec31,dec32,dec33,dec34,dec35,dec36
0,Trigo Irrigado,2019,2020,12017100000051,21,2,5203575,GO,BonÃ³polis,NaN,...,0,0,0,0,0,0,0,0,0,0
1,Trigo Irrigado,2022,2023,12017100000051,20,2,3108503,MG,Botumirim,NaN,...,0,0,0,0,0,0,0,0,0,0
2,Aveia Irrigada,2023,2024,12011000000051,21,11,3162948,MG,SÃ£o JosÃ© da Barra,NaN,...,0,0,0,0,0,0,0,0,0,0
3,Trigo Irrigado,2020,2021,12017100000051,22,3,3551702,SP,SertÃ£ozinho,NaN,...,0,0,0,0,0,0,0,0,0,0
4,Aveia Irrigada,2021,2022,12011000000051,22,1,3157708,MG,Santa Juliana,NaN,...,0,0,0,0,0,0,0,0,0,0

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: sigefcamposproducaodesementes.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (100000, 12)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Safra              100000 non-null  object
 1   Especie            100000 non-null  object
 2   Categoria          100000 non-null  object
 3   Cultivar           100000 non-null  object
 4   Municipio          99998 non-null   object
 5   UF                 100000 non-null  object
 6   Status             100000 non-null  object
 7   Data do Plantio    100000 non-null  object
 8   Data de Colheita   1266 non-null    object
 9   Area               100000 non-null  float64
 10  Producao bruta     1266 non-null    float64
 11  Producao estimada  100000 non-null  float64
dtypes: float64(3), object(9)
memory usage: 9.2+ MB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,Safra,Especie,Categoria,Cultivar,Municipio,UF,Status,Data do Plantio,Data de Colheita,Area,Producao bruta,Producao estimada
0,2013/2013,Zea mays L.,S1,BRS 2022,Cedro,PE,Homologado,01/01/2013,NaN,9.5,NaN,38.00
1,2013/2013,Zea mays L.,S1,BRS 2022,Cedro,PE,Homologado,05/01/2013,NaN,6.0,NaN,24.00
2,2013/2013,Zea mays L.,S1,BRS 2022,Cedro,PE,Homologado,10/01/2013,NaN,9.5,NaN,38.00
3,2013/2013,Zea mays L.,S2,BRS Gorutuba,Petrolina,PE,Homologado,03/02/2013,NaN,4.5,NaN,15.75
4,2013/2013,Zea mays L.,S2,BRS Gorutuba,Petrolina,PE,Homologado,27/01/2013,NaN,1.6,NaN,5.60

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: sigefdeclaracaoareaproducao.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (100000, 11)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   TIPOPERIODO     100000 non-null  object
 1   PERIODO         100000 non-null  object
 2   AREATOTAL       100000 non-null  float64
 3   MUNICIPIO       100000 non-null  object
 4   UF              100000 non-null  object
 5   ESPECIE         100000 non-null  object
 6   CULTIVAR        100000 non-null  object
 7   AREAPLANTADA    100000 non-null  float64
 8   AREAESTIMADA    100000 non-null  float64
 9   QUANTRESERVADA  100000 non-null  float64
 10  DATAPLANTIO     100000 non-null  object
dtypes: float64(4), object(7)
memory usage: 8.4+ MB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,TIPOPERIODO,PERIODO,AREATOTAL,MUNICIPIO,UF,ESPECIE,CULTIVAR,AREAPLANTADA,AREAESTIMADA,QUANTRESERVADA,DATAPLANTIO
0,SAFRA,2016/2017,140.0,Boa Vista do Cadeado,RS,Glycine max (L.) Merr.,6160RSF IPRO,2.4,12.0,600.0,2016-12-17 00:00:00
1,SAFRA,2016/2017,13.0,Mato Queimado,RS,Glycine max (L.) Merr.,63I64RSF IPRO,13.0,15.0,700.0,2016-11-24 00:00:00
2,SAFRA,2016/2017,50.0,Paulo Bento,RS,Glycine max (L.) Merr.,58I60RSF IPRO,2.0,40.0,3000.0,2016-11-10 00:00:00
3,SAFRA,2016/2017,1200.0,Cruz Alta,RS,Glycine max (L.) Merr.,M5917IPRO,80.0,300.0,15000.0,2016-11-19 00:00:00
4,SAFRA,2017/2017,800.0,Ponta PorÃ£,MS,Glycine max (L.) Merr.,SYN9070 RR,40.0,800.0,48000.0,2017-01-28 00:00:00

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: sigsifcondenacaoanimaisporespecie.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (100000, 6)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   MES_ANO             100000 non-null  object
 1   UF_ESTABELECIMENTO  98061 non-null   object
 2   ANIMAL_PRODUTO      100000 non-null  object
 3   DIAGNOSTICO         100000 non-null  object
 4   DESTINO             100000 non-null  object
 5   QUANTIDADE          100000 non-null  float64
dtypes: float64(1), object(5)
memory usage: 4.6+ MB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,MES_ANO,UF_ESTABELECIMENTO,ANIMAL_PRODUTO,DIAGNOSTICO,DESTINO,QUANTIDADE
0,01/2012,MG,Suinos,Escaldagem Excessiva,Salsicharia,34.0
1,01/2019,RS,Bovinos,Cisticercose Calcificada,EsterilizaÃ§Ã£o Por Calor Ãmido (Seguida De R...,42.0
2,01/2022,RS,Galinha,ARTRITE (UMA ARTICULAÃÃO),CONDENAÃÃO TOTAL (POST MORTEM),369.0
3,01/2025,PA,Bovino,ALTERAÃÃO RESTRITA,ESTERILIZAÃÃO POR CALOR ÃMIDO (SEGUIDA DE R...,69.0
4,02/2004,RS,Bovinos,Rigidez Cadaverica,EsterilizaÃ§Ã£o Por Calor Ãmido (Seguida De R...,11.0

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: sigsifestabelecimentosestrangeiros.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (96382, 8)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96382 entries, 0 to 96381
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PAIS              96382 non-null  object
 1   CIDADE            96382 non-null  object
 2   ENDERECO          91490 non-null  object
 3   NUMERO_REGISTRO   96310 non-null  object
 4   NOME_EMPRESARIAL  96382 non-null  object
 5   AREA              96382 non-null  object
 6   CATEGORIA         96382 non-null  object
 7   ESPECIE           96382 non-null  object
dtypes: object(8)
memory usage: 5.9+ MB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,PAIS,CIDADE,ENDERECO,NUMERO_REGISTRO,NOME_EMPRESARIAL,AREA,CATEGORIA,ESPECIE
0,NOVA ZELÃNDIA,WESTPORT,1 PALMERSTON STREET,PH103,TALLEYS GROUP LIMITED,Pescados e Derivados,PRODUTOS EM NATUREZA,CamarÃ£o gigante da MalÃ¡sia
1,NOVA ZELÃNDIA,WESTPORT,1 PALMERSTON STREET,PH103,TALLEYS GROUP LIMITED,Pescados e Derivados,PRODUTOS EM NATUREZA,Outros crustÃ¡ceos
2,NOVA ZELÃNDIA,NELSON,Meridian 1,L62858,MERIDIAN 1 - (BARCO-FÃBRICA),Pescados e Derivados,PRODUTOS EM NATUREZA,Centrolha (substituir para caranguejo)
3,NOVA ZELÃNDIA,NELSON,Meridian 1,L62858,MERIDIAN 1 - (BARCO-FÃBRICA),Pescados e Derivados,PRODUTOS EM NATUREZA,CamarÃ£o gigante da MalÃ¡sia
4,NOVA ZELÃNDIA,NELSON,Aleksey Slobodchikov,L62713,ALEKSEY SLOBODCHIKOV - (BARCO-FÃBRICA),Pescados e Derivados,PRODUTOS EM NATUREZA,Outros crustÃ¡ceos

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: sigsifestabelecimentosnacionais.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (36916, 10)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36916 entries, 0 to 36915
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PAIS             36916 non-null  object
 1   AREA             36916 non-null  object
 2   ESTABELECIMENTO  36916 non-null  object
 3   SIF              36916 non-null  int64
 4   UF               36916 non-null  object
 5   MUNICIPIO        36916 non-null  object
 6   PRODUTO          36916 non-null  object
 7   DT_VALIDADE      1326 non-null   object
 8   DT_OCORRENCIA    36915 non-null  object
 9   DT_SUSPENSAO     102 non-null    object
dtypes: int64(1), object(9)
memory usage: 2.8+ MB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,PAIS,AREA,ESTABELECIMENTO,SIF,UF,MUNICIPIO,PRODUTO,DT_VALIDADE,DT_OCORRENCIA,DT_SUSPENSAO
0,BRASIL,PESCADO,VALÃNÃA DA BAHIA MARICULTURA S/A,3609,BA,VALENÃA,PRODUTOS PROCESSADOS TERMICAMENTE - ESTERILIZA...,NaN,2022-06-10 00:00:00,NaN
1,ARGENTINA,PESCADO,ICAPEL - ICAPUÃ PESCA LTDA,971,CE,ICAPUÃ,PRODUTOS SUBMETIDOS A TRATAMENTO TÃRMICO COCÃ...,NaN,2021-01-04 00:00:00,NaN
2,TIMOR LESTE,CARNE,SEARA ALIMENTOS LTDA,2423,DF,BRASÃLIA,PRODUTOS EM NATUREZA (DHC),NaN,2025-05-28 00:00:00,NaN
3,VIETNÃ,CARNE,SEARA ALIMENTOS LTDA,2423,DF,BRASÃLIA,PRODUTOS EM NATUREZA (AVES) (DHC),NaN,2025-05-28 00:00:00,NaN
4,BRASIL,CARNE,SEARA ALIMENTOS LTDA,2423,DF,BRASÃLIA,PRODUTOS EM NATUREZA (AVES) (DHC),NaN,2025-05-28 00:00:00,NaN

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: sigsifestabelecimentosregistradosnosif.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (17603, 19)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17603 entries, 0 to 17602
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CPF_CNPJ              17603 non-null  object
 1   RAZAO_SOCIAL          17603 non-null  object
 2   NOME_FANTASIA         9133 non-null   object
 3   NR_SIF                17603 non-null  int64
 4   DATA_RESERVA          17590 non-null  object
 5   DT_REGISTRO           17567 non-null  object
 6   NUMERO_PROCESSO       17603 non-null  object
 7   SITUACAO              17603 non-null  object
 8   LOGRADOURO            17603 non-null  object
 9   BAIRRO                17447 non-null  object
 10  CEP                   17603 non-null  int64
 11  MUNICIPIO             17603 non-null  object
 12  UF                    17603 non-null  object
 13  TELEFONE              16935 non-null  object
 14  EMAIL                 15198 non-null  object
 15  AREA_CATEGORIA        17603 non-null  object
 16  CATEGORIA_CLASSE      17603 non-null  object
 17  DATA_OCORRENCIA       15390 non-null  object
 18  DESCRICAO_OCORRENCIA  15390 non-null  object
dtypes: int64(2), object(17)
memory usage: 2.6+ MB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,CPF_CNPJ,RAZAO_SOCIAL,NOME_FANTASIA,NR_SIF,DATA_RESERVA,DT_REGISTRO,NUMERO_PROCESSO,SITUACAO,LOGRADOURO,BAIRRO,CEP,MUNICIPIO,UF,TELEFONE,EMAIL,AREA_CATEGORIA,CATEGORIA_CLASSE,DATA_OCORRENCIA,DESCRICAO_OCORRENCIA
0,13.600.911/0001-00,VALÃNÃA DA BAHIA MARICULTURA S/A,NaN,3609,1993-06-22 00:00:00,2015-07-30 00:00:00,21012-1902/92-41,A,"EST.VALENCA GUAIBIM, KM 12,5",NaN,45400000,VALENÃA,BA,(75) 3641-3217,aristoteles@grupompe.com.br,PESCADO,UNIDADE DE BENEF. DE PESCADO E PROD. DE PESCAD...,NaN,NaN
1,11.059.809/0002-96,CONDESSA IMPORTACAO EXPORTACAO LTDA,CONDESSA,1768,1975-08-13 00:00:00,1997-06-24 00:00:00,07/1898/74,A,"RUA ANTONIO DE LIMA E SILVA, 26",COQUEIROS,62400000,CAMOCIM,CE,(88) 3621-1181,camocim@pesqueiramaguary.com.br,PESCADO,UNIDADE DE BENEF. DE PESCADO E PROD. DE PESCAD...,2018-07-13 00:00:00,Pescado. UniÃ£o Europeia (UE). ExclusÃ£o da li...
2,02.914.460/0205-00,SEARA ALIMENTOS LTDA,SEARA,2423,1979-10-31 00:00:00,2003-04-23 00:00:00,21012.005334/2019-29,A,"NUCR DE TAGUATINGA, SN, AREA RURAL AREA ISOLAD...",SAMAMBAIA NORTE (SAMAMBAIA),72322845,BRASÃLIA,DF,(61) 2102-9000,,CARNE,ABATEDOURO FRIGORÃFICO - C15 / AA1 - AVES - M...,2018-12-14 00:00:00,Aves. MÃ©xico. HabilitaÃ§Ã£o. Categoria: Produ...
3,02.914.460/0205-00,SEARA ALIMENTOS LTDA,SEARA,2423,1979-10-31 00:00:00,2003-04-23 00:00:00,21012.005334/2019-29,A,"NUCR DE TAGUATINGA, SN, AREA RURAL AREA ISOLAD...",SAMAMBAIA NORTE (SAMAMBAIA),72322845,BRASÃLIA,DF,(61) 2102-9000,,CARNE,ABATEDOURO FRIGORÃFICO - C15 / AA1 - AVES - M...,2022-01-04 00:00:00,Peru. Aves. Produtos em natureza. RenovaÃ§Ã£o ...
4,02.914.460/0205-00,SEARA ALIMENTOS LTDA,SEARA,2423,1979-10-31 00:00:00,2003-04-23 00:00:00,21012.005334/2019-29,A,"NUCR DE TAGUATINGA, SN, AREA RURAL AREA ISOLAD...",SAMAMBAIA NORTE (SAMAMBAIA),72322845,BRASÃLIA,DF,(61) 2102-9000,,CARNE,ABATEDOURO FRIGORÃFICO - C15 / AA1 - AVES - M...,2021-10-19 00:00:00,Egito. Aves. ProrrogaÃ§Ã£o da habilitaÃ§Ã£o. P...

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: sigsifquantitativoanimaisabatidoscategoriauf.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (100000, 6)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ANO                    100000 non-null  int64
 1   MES                    100000 non-null  int64
 2   UF_PROCEDENCIA         100000 non-null  object
 3   MUNICIPIO_PROCEDENCIA  100000 non-null  object
 4   CATEGORIA              100000 non-null  object
 5   QUANTIDADE             100000 non-null  int64
dtypes: int64(3), object(3)
memory usage: 4.6+ MB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,ANO,MES,UF_PROCEDENCIA,MUNICIPIO_PROCEDENCIA,CATEGORIA,QUANTIDADE
0,2021,2,SP,Borebi,Bovino,2703
1,2021,2,SP,Nhandeara,Bovino,1114
2,2021,2,PR,Sem correspondÃªncia na PGA GTA,Bovino,14432
3,2021,2,MG,Central de Minas,Bovino,37
4,2021,3,SC,Rio das Antas,Galinha,2659875

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: sigsifquantitativodoencasporprocedencia.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (100000, 5)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   MES_ANO                100000 non-null  object
 1   UF_PROCEDENCIA         99903 non-null   object
 2   MUNICIPIO_PROCEDENCIA  99903 non-null   object
 3   DIAGNOSTICO            100000 non-null  object
 4   QUANTIDADE             100000 non-null  int64
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,MES_ANO,UF_PROCEDENCIA,MUNICIPIO_PROCEDENCIA,DIAGNOSTICO,QUANTIDADE
0,01/2004,SC,ItÃ¡,Sarna,1
1,01/2006,PR,TupÃ£ssi,Caquexia,80
2,01/2006,SC,Presidente Castelo Branco,Colibacilose,198
3,01/2007,RS,SÃ£o SebastiÃ£o Do CaÃ­,Colibacilose,150
4,01/2008,PR,Arapongas,Carnes Sanguinolentas,19

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: sigsifrelatorioabates.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (59563, 5)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59563 entries, 0 to 59562
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   MES_ANO         59563 non-null  object
 1   UF_PROCEDENCIA  59563 non-null  object
 2   CATEGORIA       59563 non-null  object
 3   QTD_MACHO       59563 non-null  int64
 4   QTD_FEMEA       59563 non-null  int64
dtypes: int64(2), object(3)
memory usage: 2.3+ MB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

   MES_ANO UF_PROCEDENCIA        CATEGORIA  QTD_MACHO  QTD_FEMEA
0  01/2002             DF           Bovino          4         10
1  01/2003             BA            Suino       1097       1434
2  01/2003             MG           Equino        737        732
3  01/2003             MT  Novilho Precoce        647          0
4  01/2003             PR            Suino      80790      76546

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: sigsifrelatorioabatesporanouf.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (59563, 4)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59563 entries, 0 to 59562
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   MES_ANO         59563 non-null  object
 1   UF_PROCEDENCIA  59563 non-null  object
 2   CATEGORIA       59563 non-null  object
 3   QTD             59563 non-null  int64
dtypes: int64(1), object(3)
memory usage: 1.8+ MB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

   MES_ANO UF_PROCEDENCIA        CATEGORIA     QTD
0  01/2002             DF           Bovino      14
1  01/2003             BA            Suino    2531
2  01/2003             MG           Equino    1469
3  01/2003             MT  Novilho Precoce     647
4  01/2003             PR            Suino  157336

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: sigsifrelatoriocondenacao.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (100000, 7)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   MES_ANO                100000 non-null  object
 1   UF_PROCEDENCIA         100000 non-null  object
 2   ESPECIE                100000 non-null  object
 3   PARTE_AFETADA          100000 non-null  object
 4   DIAGNOSTICO            100000 non-null  object
 5   DESTINO_CONDENACAO     100000 non-null  object
 6   TOTAL_PARTES_AFETADAS  100000 non-null  float64
dtypes: float64(1), object(6)
memory usage: 5.3+ MB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,MES_ANO,UF_PROCEDENCIA,ESPECIE,PARTE_AFETADA,DIAGNOSTICO,DESTINO_CONDENACAO,TOTAL_PARTES_AFETADAS
0,01/2005,MG,Equideos,Quarto Traseiro,Acrobustite,Desclassificacao Para Tipo Inferior,1.0
1,01/2005,SP,Aves,CarcaÃ§a,Miosite,Cortes,2821.0
2,01/2005,TO,Bovinos,Cauda(Rabo),Cisticercose Viva,Graxaria,3.0
3,01/2007,PE,Aves,CarcaÃ§a,Carnes Sanguinolentas,Graxaria,629.0
4,01/2008,SC,Suinos,CarcaÃ§a,Outros Corpos Ou Causas Repugnantes,Liberado,3.0

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: sigsifrelatoriodoencasporprocedencia.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (100000, 5)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   MES_ANO                    100000 non-null  object
 1   UF_PROCEDENCIA             100000 non-null  object
 2   ESPECIE                    100000 non-null  object
 3   DIAGNOSTICO                100000 non-null  object
 4   NUMERO_ANIMAIS_ACOMETIDOS  100000 non-null  int64
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,MES_ANO,UF_PROCEDENCIA,ESPECIE,DIAGNOSTICO,NUMERO_ANIMAIS_ACOMETIDOS
0,01/2003,PA,Bovinos,Bursite,6
1,01/2004,RS,Suinos,Pleurite,17
2,01/2005,SC,Aves,Septicemia,292
3,01/2006,SP,Aves,Evisceracao Retardada,21
4,01/2007,PE,Aves,Colibacilose,15

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: sigsifrelatorioestabelecimentos.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (3360, 8)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3360 entries, 0 to 3359
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AREA          3360 non-null   object
 1   CATEGORIA     3360 non-null   object
 2   CLASSE        3360 non-null   object
 3   SIF           3360 non-null   int64
 4   RAZAO_SOCIAL  3360 non-null   object
 5   LOGRADOURO    3360 non-null   object
 6   MUNICIPIO     3360 non-null   object
 7   UF            3360 non-null   object
dtypes: int64(1), object(7)
memory usage: 210.1+ KB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,AREA,CATEGORIA,CLASSE,SIF,RAZAO_SOCIAL,LOGRADOURO,MUNICIPIO,UF
0,CARNE,ABATEDOURO FRIGORÃFICO,AA1 - AVES - MAIS DE 3000/H,2423,SEARA ALIMENTOS LTDA,"NUCR DE TAGUATINGA, SN, AREA RURAL AREA ISOLAD...",BRASÃLIA,DF
1,CARNE,ABATEDOURO FRIGORÃFICO,AA1 - AVES - MAIS DE 3000/H,87,BRF S.A.,"RUA XV DE NOVEMBRO, 100",VIDEIRA,SC
2,CARNE,ABATEDOURO FRIGORÃFICO,AS1 - SUÃNO - MAIS DE 800/D,140,BRF S.A.,"AV BEIRA RIO, N 1089",HERVAL D'OESTE,SC
3,CARNE,ABATEDOURO FRIGORÃFICO,AA1 - AVES - MAIS DE 3000/H,2172,SEARA ALIMENTOS LTDA,"AV. 25 DE JULHO, 2080",FORQUILHINHA,SC
4,PESCADO,UNIDADE DE BENEF. DE PESCADO E PROD. DE PESCADO,EP2 - ENTREPOSTO DE PESCADOS,2535,LEARDINI PESCADOS LTDA,"R ANIBAL GAYA, 1075",NAVEGANTES,SC

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: sipeagroalimentacaoanimal.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (16328, 9)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16328 entries, 0 to 16327
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   UF                               16328 non-null  object
 1   MUNICIPIO                        16328 non-null  object
 2   NUMERO_REGISTRO_ESTABELECIMENTO  16328 non-null  object
 3   STATUS_DO_REGISTRO               16328 non-null  object
 4   CPF_CNPJ                         16328 non-null  object
 5   RAZAO_SOCIAL                     16328 non-null  object
 6   AREA_ATUACAO                     16328 non-null  object
 7   ATIVIDADE                        16328 non-null  object
 8   CLASSIFICACAO                    16328 non-null  object
dtypes: object(9)
memory usage: 1.1+ MB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,UF,MUNICIPIO,NUMERO_REGISTRO_ESTABELECIMENTO,STATUS_DO_REGISTRO,CPF_CNPJ,RAZAO_SOCIAL,AREA_ATUACAO,ATIVIDADE,CLASSIFICACAO
0,PR,Toledo,PR0016330,Ativo,**.***.898/***-**,CARGILL ALIMENTOS LTDA,ALIMENTAÃÃO ANIMAL,IMPORTADOR,ALIMENTO
1,PR,Toledo,PR0016330,Ativo,**.***.898/***-**,CARGILL ALIMENTOS LTDA,ALIMENTAÃÃO ANIMAL,FABRICANTE,SUPLEMENTO
2,PR,Toledo,PR0014958,Ativo,**.***.981/***-**,PRIME AGRO PRODUTOS AGRICOLAS LTDA,ALIMENTAÃÃO ANIMAL,IMPORTADOR,CONCENTRADO
3,PR,Toledo,PR0016993,Ativo,**.***.363/***-**,AES SaÃºde Animal Ltda,ALIMENTAÃÃO ANIMAL,IMPORTADOR,INGREDIENTE
4,PR,Toledo,PR0002674,Ativo,**.***.162/***-**,TECTRON IMPORTADORA E EXPORTADORA DE PRODUTOS ...,ALIMENTAÃÃO ANIMAL,FABRICANTE,INGREDIENTE

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: sipeagroavesreproducao.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (1685, 9)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1685 entries, 0 to 1684
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   UNIDADE_DA_FEDERACAO             1685 non-null   object
 1   MUNICIPIO                        1685 non-null   object
 2   NUMERO_REGISTRO_ESTABELECIMENTO  1685 non-null   object
 3   STATUS_DO_REGISTRO               1685 non-null   object
 4   RAZAO_SOCIAL                     1685 non-null   object
 5   AREA_ATUACAO                     1685 non-null   object
 6   ATIVIDADE                        1685 non-null   object
 7   ESPECIE                          1685 non-null   object
 8   CLASSIFICACAO                    1685 non-null   object
dtypes: object(9)
memory usage: 118.6+ KB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,UNIDADE_DA_FEDERACAO,MUNICIPIO,NUMERO_REGISTRO_ESTABELECIMENTO,STATUS_DO_REGISTRO,RAZAO_SOCIAL,AREA_ATUACAO,ATIVIDADE,ESPECIE,CLASSIFICACAO
0,PR,Toledo,PR0036170,Ativo,Ademar Malacarne,AVES DE REPRODUÃÃO,PRODUTOR INTEGRADO,AVE - GALINHA,ESTABELECIMENTO MATRIZEIRO
1,PR,Toledo,PR0037524,Ativo,Rui Schimmel,AVES DE REPRODUÃÃO,PRODUTOR INTEGRADO,AVE - GALINHA,ESTABELECIMENTO MATRIZEIRO
2,PR,Toledo,PR0027170,Ativo,Joslaine de Quadros Moraes,AVES DE REPRODUÃÃO,PRODUTOR INTEGRADO,AVE - GALINHA,ESTABELECIMENTO MATRIZEIRO
3,BA,Tucano,BA0013544,Ativo,ELSON SENA DOS SANTOS,AVES DE REPRODUÃÃO,PRODUTOR INTEGRADO,AVE - GALINHA,ESTABELECIMENTO MATRIZEIRO
4,MG,UberlÃ¢ndia,MG0036307,Ativo,pole alimentos ltda,AVES DE REPRODUÃÃO,PRODUTOR INDEPENDENTE,AVE - GALINHA,ESTABELECIMENTO MATRIZEIRO

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: sipeagroaviacaoagricolaautorizacao.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (100000, 14)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 14 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   NUMERO_REGISTRO_ESTABELECIMENTO    100000 non-null  object
 1   CNPJ                               100000 non-null  object
 2   RAZAO_SOCIAL                       100000 non-null  object
 3   NOME_FANTASIA                      96937 non-null   object
 4   NOME_RESPONSAVEL_TECNICO           100000 non-null  object
 5   NUMERO_REGISTRO_CONSELHO_NACIONAL  76276 non-null   object
 6   NR_REGISTRO_CLASSE                 99974 non-null   object
 7   AREA_ATUACAO                       100000 non-null  object
 8   NUMERO_AUTORIZACAO                 100000 non-null  int64
 9   UF_AUTORIZADA                      100000 non-null  object
 10  MUNICIPIO_AUTORIZADO               100000 non-null  object
 11  DATA_INICIO_VALIDADE               100000 non-null  object
 12  DATA_TERMINO_VALIDADE              100000 non-null  object
 13  NUMERO_REGISTRO_AERONAVE           100000 non-null  object
dtypes: int64(1), object(13)
memory usage: 10.7+ MB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,NUMERO_REGISTRO_ESTABELECIMENTO,CNPJ,RAZAO_SOCIAL,NOME_FANTASIA,NOME_RESPONSAVEL_TECNICO,NUMERO_REGISTRO_CONSELHO_NACIONAL,NR_REGISTRO_CLASSE,AREA_ATUACAO,NUMERO_AUTORIZACAO,UF_AUTORIZADA,MUNICIPIO_AUTORIZADO,DATA_INICIO_VALIDADE,DATA_TERMINO_VALIDADE,NUMERO_REGISTRO_AERONAVE
0,BA0012351,10.509.954/0001-88,AEROTERRA - AVIACAO AGRICOLA LTDA,AEROTERRA AVIAÃÃO AGRICOLA LTDA,RENATO MONTEIRO MERCER,1701885310,PR89892D,AVIAÃÃO AGRÃCOLA,103935,PA,Parauapebas,2021-10-08 00:00:00,2022-10-07 00:00:00,PTGMC
1,BA0012351,10.509.954/0001-88,AEROTERRA - AVIACAO AGRICOLA LTDA,AEROTERRA AVIAÃÃO AGRICOLA LTDA,RENATO MONTEIRO MERCER,1701885310,PR89892D,AVIAÃÃO AGRÃCOLA,103935,PA,Parauapebas,2021-10-08 00:00:00,2022-10-07 00:00:00,PTSAL
2,BA0012351,10.509.954/0001-88,AEROTERRA - AVIACAO AGRICOLA LTDA,AEROTERRA AVIAÃÃO AGRICOLA LTDA,RENATO MONTEIRO MERCER,1701885310,PR89892D,AVIAÃÃO AGRÃCOLA,103935,PA,Parauapebas,2021-10-08 00:00:00,2022-10-07 00:00:00,PSERN
3,BA0012351,10.509.954/0001-88,AEROTERRA - AVIACAO AGRICOLA LTDA,AEROTERRA AVIAÃÃO AGRICOLA LTDA,RENATO MONTEIRO MERCER,1701885310,PR89892D,AVIAÃÃO AGRÃCOLA,103935,PA,Parauapebas,2021-10-08 00:00:00,2022-10-07 00:00:00,PTUTD
4,BA0012351,10.509.954/0001-88,AEROTERRA - AVIACAO AGRICOLA LTDA,AEROTERRA AVIAÃÃO AGRICOLA LTDA,RENATO MONTEIRO MERCER,1701885310,PR89892D,AVIAÃÃO AGRÃCOLA,104150,GO,Cristalina,2021-10-08 00:00:00,2022-10-07 00:00:00,PSSLC

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: sipeagroaviacaoagricolaregistro.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (12632, 18)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12632 entries, 0 to 12631
Data columns (total 18 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   UNIDADE_DA_FEDERACAO               12632 non-null  object
 1   MUNICIPIO                          12632 non-null  object
 2   NUMERO_REGISTRO_ESTABELECIMENTO    12632 non-null  object
 3   STATUS_REGISTRO_ESTABELECIMENTO    12632 non-null  object
 4   CPF_CNPJ                           12632 non-null  object
 5   RAZAO_SOCIAL                       12632 non-null  object
 6   NOME_FANTASIA                      8907 non-null   object
 7   EMAIL                              12441 non-null  object
 8   TELEFONE                           12632 non-null  object
 9   NOME_RESPONSAVEL_TECNICO           12441 non-null  object
 10  NUMERO_REGISTRO_CONSELHO_NACIONAL  8556 non-null   object
 11  NR_REGISTRO_CLASSE                 12331 non-null  object
 12  AREA_ATUACAO                       12632 non-null  object
 13  ATIVIDADE                          12632 non-null  object
 14  CLASSIFICACAO                      11879 non-null  object
 15  ESPECIE                            12632 non-null  object
 16  NUMERO_REGISTRO_AERONAVE           12631 non-null  object
 17  STATUS_AERONAVE                    12632 non-null  object
dtypes: object(18)
memory usage: 1.7+ MB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,UNIDADE_DA_FEDERACAO,MUNICIPIO,NUMERO_REGISTRO_ESTABELECIMENTO,STATUS_REGISTRO_ESTABELECIMENTO,CPF_CNPJ,RAZAO_SOCIAL,NOME_FANTASIA,EMAIL,TELEFONE,NOME_RESPONSAVEL_TECNICO,NUMERO_REGISTRO_CONSELHO_NACIONAL,NR_REGISTRO_CLASSE,AREA_ATUACAO,ATIVIDADE,CLASSIFICACAO,ESPECIE,NUMERO_REGISTRO_AERONAVE,STATUS_AERONAVE
0,PI,SebastiÃ£o Leal,PI0003735,Ativo,***.***.320-**,CORNELIO ADRIANO SANDERS,NaN,gregory@fazendaprogresso.com.br,89-35443090,GREGORY SANDERS,070434306-1,DF-12193D,AVIAÃÃO AGRÃCOLA,AGRICULTOR,NaN,Convencional,PTDVO,Ativo
1,BA,Correntina,BA0016047,Ativo,***.***.001-**,PATRICIA KYOKO PORTOLESE MORINAGA,NaN,cristiane@morinaga.agr.br,61-33619929,CRISTIANE TIYONO PORTOLESE MORINAGA FACCIONI,0700512802,22206BA,AVIAÃÃO AGRÃCOLA,AGRICULTOR,AERONAVE CONVENCIONAL,Convencional,PSSAL,Ativo
2,BA,Correntina,BA0016047,Ativo,***.***.001-**,PATRICIA KYOKO PORTOLESE MORINAGA,NaN,cristiane@morinaga.agr.br,61-99799873,CRISTIANE TIYONO PORTOLESE MORINAGA FACCIONI,0700512802,22206BA,AVIAÃÃO AGRÃCOLA,AGRICULTOR,AERONAVE CONVENCIONAL,Convencional,PSSAL,Ativo
3,GO,Montividiu,GO0016730,Ativo,***.***.648-**,MARCELO JONY SWART,NaN,leticiagrupofma@gmail.com,64-99870012,MARCELO JONY SWART,2608347371,907276D-SP,AVIAÃÃO AGRÃCOLA,AGRICULTOR,AERONAVE CONVENCIONAL,Convencional,PTCYI,Ativo
4,GO,Montividiu,GO0016730,Ativo,***.***.648-**,MARCELO JONY SWART,NaN,leticiagrupofma@gmail.com,62-32410404,MARCELO JONY SWART,2608347371,907276D-SP,AVIAÃÃO AGRÃCOLA,AGRICULTOR,AERONAVE CONVENCIONAL,Convencional,PTCYI,Ativo

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: sipeagrofertilizante.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (13391, 10)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13391 entries, 0 to 13390
Data columns (total 10 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   UNIDADE_DA_FEDERACAO             13391 non-null  object
 1   MUNICIPIO                        13391 non-null  object
 2   NUMERO_REGISTRO_ESTABELECIMENTO  13391 non-null  object
 3   STATUS_DO_REGISTRO               13391 non-null  object
 4   CNPJ                             13391 non-null  object
 5   RAZAO_SOCIAL                     13300 non-null  object
 6   NOME_FANTASIA                    10110 non-null  object
 7   AREA_ATUACAO                     13391 non-null  object
 8   ATIVIDADE                        13391 non-null  object
 9   CLASSIFICACAO                    13391 non-null  object
dtypes: object(10)
memory usage: 1.0+ MB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,UNIDADE_DA_FEDERACAO,MUNICIPIO,NUMERO_REGISTRO_ESTABELECIMENTO,STATUS_DO_REGISTRO,CNPJ,RAZAO_SOCIAL,NOME_FANTASIA,AREA_ATUACAO,ATIVIDADE,CLASSIFICACAO
0,MG,Belo Horizonte,MG0008257,Ativo,**.***.915/***-**,CARREFOUR COMERCIO E INDUSTRIA LTDA,NaN,"FERTILIZANTE, INOCULANTE E CORRETIVO",COMERCIANTE,PRODUTO COMERCIALIZADO EMBALADO
1,SP,Valinhos,SP0038890,Ativo,**.***.545/***-**,CHR. HANSEN INDÃSTRIA E COMÃRCIO LTDA.,CHR HANSEN,"FERTILIZANTE, INOCULANTE E CORRETIVO",PRODUTOR,INOCULANTE
2,SC,TangarÃ¡,SC0010669,Ativo,**.***.247/***-**,LACTICINIOS TIROL LTDA,LACTICÃNIOS TIROL LTDA,"FERTILIZANTE, INOCULANTE E CORRETIVO",COMERCIANTE,PRODUTO COMERCIALIZADO EMBALADO
3,SC,SÃ£o JosÃ© do Cedro,SC0006378,Ativo,**.***.247/***-**,LACTICINIOS TIROL LTDA,NaN,"FERTILIZANTE, INOCULANTE E CORRETIVO",COMERCIANTE,PRODUTO COMERCIALIZADO EMBALADO
4,SP,GuaratinguetÃ¡,SP0028231,Ativo,**.***.510/***-**,COOPERATIVA DE LATICINIOS SERRAMAR,COOPERATIVA DE LATICINIOS SERRAMAR,"FERTILIZANTE, INOCULANTE E CORRETIVO",COMERCIANTE,PRODUTO COMERCIALIZADO EMBALADO

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: sipeagroprodutoveterinario.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (56385, 11)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56385 entries, 0 to 56384
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   UNIDADE_DA_FEDERACAO             56385 non-null  object
 1   MUNICIPIO                        56385 non-null  object
 2   NUMERO_REGISTRO_ESTABELECIMENTO  56385 non-null  object
 3   STATUS_DO_REGISTRO               56385 non-null  object
 4   CNPJ                             56385 non-null  int64
 5   RAZAO_SOCIAL                     56385 non-null  object
 6   NOME_FANTASIA                    47821 non-null  object
 7   AREA_ATUACAO                     56385 non-null  object
 8   ATIVIDADE                        56385 non-null  object
 9   CLASSIFICACAO                    56385 non-null  object
 10  CARACTERISTICA_ADICIONAL         56385 non-null  object
dtypes: int64(1), object(10)
memory usage: 4.7+ MB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,UNIDADE_DA_FEDERACAO,MUNICIPIO,NUMERO_REGISTRO_ESTABELECIMENTO,STATUS_DO_REGISTRO,CNPJ,RAZAO_SOCIAL,NOME_FANTASIA,AREA_ATUACAO,ATIVIDADE,CLASSIFICACAO,CARACTERISTICA_ADICIONAL
0,RS,Erval Grande,RS0021830,Ativo,73273526000119,COOPERATIVA DE PEQUENOS AGROPECUARISTAS DE ERV...,COOPERVAL,PRODUTO VETERINÃRIO,COMERCIANTE,PRODUTO FARMACÃUTICO,NÃO CONTROLADO
1,RS,Erval Grande,RS0021830,Ativo,73273526000119,COOPERATIVA DE PEQUENOS AGROPECUARISTAS DE ERV...,COOPERVAL,PRODUTO VETERINÃRIO,COMERCIANTE,PRODUTO BIOLÃGICO,OUTROS
2,SC,Seara,SC0013714,Ativo,2914460001807,SEARA ALIMENTOS LTDA,NaN,PRODUTO VETERINÃRIO,ARMAZENADOR,PRODUTO FARMACÃUTICO,NÃO CONTROLADO
3,SP,TaboÃ£o da Serra,SP0075035,Ativo,49475833000106,BIOLAB SANUS FARMACEUTICA LTDa,BIOLAB,PRODUTO VETERINÃRIO,IMPORTADOR,PRODUTO FARMACÃUTICO,CONTROLADO
4,GO,Caldas Novas,GO0000108,Ativo,2667442000200,COOP. MISTA DOS PROD. DE LEITE DE MORRINHOS LTDA,COMPLEM,PRODUTO VETERINÃRIO,COMERCIANTE,PRODUTO BIOLÃGICO,VACINA BRUCELOSE

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: sipeagroqualidadevegetal.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (13440, 10)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13440 entries, 0 to 13439
Data columns (total 10 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   UF                               13440 non-null  object
 1   MUNICIPIO                        13440 non-null  object
 2   NUMERO_REGISTRO_ESTABELECIMENTO  13440 non-null  object
 3   STATUS_REGISTRO                  13440 non-null  object
 4   CPF_CNPJ                         13440 non-null  object
 5   RAZAO_SOCIAL                     13440 non-null  object
 6   AREA_ATUACAO                     13440 non-null  object
 7   ATIVIDADE                        13440 non-null  object
 8   CLASSIFICACAO                    565 non-null    object
 9   CARACTERISTICA_ADICIONAL         541 non-null    object
dtypes: object(10)
memory usage: 1.0+ MB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,UF,MUNICIPIO,NUMERO_REGISTRO_ESTABELECIMENTO,STATUS_REGISTRO,CPF_CNPJ,RAZAO_SOCIAL,AREA_ATUACAO,ATIVIDADE,CLASSIFICACAO,CARACTERISTICA_ADICIONAL
0,TO,TocantinÃ³polis,TO0010758,Ativo,**.***.663/***-**,AGRONORTE LOGISTICA E AGRONEGOCIOS LTDA,QUALIDADE VEGETAL,COMERCIAL EXPORTADORA OU TRADING,NaN,NaN
1,MG,TrÃªs CoraÃ§Ãµes,MG0032107,Ativo,**.***.971/***-**,Exportadora de CafÃ©s Carmo de Minas Ltda.,QUALIDADE VEGETAL,EMBALADOR,NaN,NaN
2,MG,TrÃªs CoraÃ§Ãµes,MG0032107,Ativo,**.***.971/***-**,Exportadora de CafÃ©s Carmo de Minas Ltda.,QUALIDADE VEGETAL,COMERCIAL EXPORTADORA OU TRADING,NaN,NaN
3,MG,TrÃªs CoraÃ§Ãµes,MG0041840,Ativo,**.***.919/***-**,CAFÃ FINO DE TRÃS CORAÃÃES LTDA,QUALIDADE VEGETAL,PROCESSADOR,NaN,NaN
4,MG,TrÃªs CoraÃ§Ãµes,MG0041840,Ativo,**.***.919/***-**,CAFÃ FINO DE TRÃS CORAÃÃES LTDA,QUALIDADE VEGETAL,EMBALADOR,NaN,NaN

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: sipeagrovinhosebebidas.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (28809, 9)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28809 entries, 0 to 28808
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   UF                               28809 non-null  object
 1   MUNICIPIO                        28809 non-null  object
 2   NUMERO_REGISTRO_ESTABELECIMENTO  28809 non-null  object
 3   STATUS_DO_REGISTRO               28809 non-null  object
 4   CPF_CNPJ                         28809 non-null  object
 5   RAZAO_SOCIAL                     28807 non-null  object
 6   AREA_ATUACAO                     28809 non-null  object
 7   ATIVIDADE                        28809 non-null  object
 8   CLASSIFICACAO                    28809 non-null  object
dtypes: object(9)
memory usage: 2.0+ MB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,UF,MUNICIPIO,NUMERO_REGISTRO_ESTABELECIMENTO,STATUS_DO_REGISTRO,CPF_CNPJ,RAZAO_SOCIAL,AREA_ATUACAO,ATIVIDADE,CLASSIFICACAO
0,PR,ParanavaÃ­,PR0001422,Cancelado,**.***.082/***-**,INDUSTRIA DE BEBIDAS PRATIKO LTDA - ME,VINHOS E BEBIDAS,BEBIDAS EM GERAL,PRODUTOR OU FABRICANTE
1,RS,Caxias do Sul,RS0034908,Ativo,**.***.061/***-**,CANTINA DE VINHO SANTA CECILIA LTDA - EPP,VINHOS E BEBIDAS,VINHOS E DERIVADOS DA UVA E DO VINHO,PRODUTOR OU ELABORADOR
2,RS,Rio Grande,RS0023400,Ativo,**.***.755/***-**,Supermercado Guanabara S/A,VINHOS E BEBIDAS,VINHOS E DERIVADOS DA UVA E DO VINHO,IMPORTADOR
3,GO,AnÃ¡polis,GO0004936,Cancelado,**.***.784/***-**,VICENSOTTI PRODUTOS NATURAIS,VINHOS E BEBIDAS,BEBIDAS EM GERAL,ENVASILHADOR OU ENGARRAFADOR
4,MG,Belo Horizonte,MG0001228,Ativo,**.***.854/***-**,van damme importaÃ§Ã£o e comÃ©rcio de bebidas ...,VINHOS E BEBIDAS,VINHOS E DERIVADOS DA UVA E DO VINHO,IMPORTADOR

================================================================================
INICIANDO INSPEÇÃO EFICIENTE DO ARQUIVO: siszarc_cronograma.csv
================================================================================

[INFO] O arquivo será processado em chunks de 100000 linhas.
[INFO] Estrutura do primeiro chunk (Linhas, Colunas): (100000, 7)

[INFO] Colunas, Tipos de Dados e Nulos (amostra do 1º chunk):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Safra                100000 non-null  object
 1   Cultura              100000 non-null  object
 2   Obtentor_Mantenedor  100000 non-null  object
 3   Cultivar             100000 non-null  object
 4   UF                   100000 non-null  object
 5   Grupo                100000 non-null  int64
 6   Regiao_de_Adaptacao  1335 non-null    object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

[VISUAL] Amostra das Primeiras 5 Linhas (do 1º chunk):

,Safra,Cultura,Obtentor_Mantenedor,Cultivar,UF,Grupo,Regiao_de_Adaptacao
0,2015-2016,Arroz Irrigado,Embrapa Arroz e FeijÃ£o - CNPAF,IRGA 429,RS,1,NaN
1,2015-2016,ARROZ SEQUEIRO - Oryza sativa L.,Embrapa Arroz e FeijÃ£o - CNPAF,IRGA 429,RS,0,NaN
2,2015-2016,ARROZ SEQUEIRO - Oryza sativa L.,AGRO NORTE PESQUISA E SEMENTES LTDA,IRGA 429,SC,0,NaN
3,2015-2016,GIRASSOL - Helianthus annuus L.,longping high-tech sementes & Biotecnologia ltda,Girassol,BA,1,NaN
4,2015-2016,Girassol,Embrapa - CNPA,Girassol,MT,1,NaN

================================================================================
INSPEÇÃO EFICIENTE EM MEMÓRIA CONCLUÍDA
================================================================================